{%extends "kakeibo/base.html" %}
{% load static%}
{% load bootstrap %}

{%block header%}
<link rel="stylesheet" href="{% static 'kakeibo/style.css' %}">
{%endblock header%}
{%block content%}
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "kakeibo:kakeibo_list" %}">TOP</a>
            </li>>
            <li class="breadcrumb-item active">一覧表示</li>
            <li class="breadcrumb-item">
            </li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <h3><b>家計簿アプリ</b></h3>
                <p id="new_create" class="float-right"><a href="{% url "kakeibo:kakeibo_create"%}"
                        class="btn btn-primary btn-lg active float-right mr-5" role="button" aria-pressed="true">新規作成</a></p>
                        <a href="{% url "kakeibo:kakeibo_circle" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">円グラフで確認する</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id=kakeibo_list width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">日付</th>
                                <th class="text-center">カテゴリ</th>
                                <th class="text-center">金額</th>
                                <th class="text-center">メモ</th>
                                <th class="text-center">更新・削除</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list%}
                            <tr class="odd gradeX text-center">
                                <td class="text-center" width="100">{{item.date}}</td>
                                <td class="text-center" width="100">{{item.category}}</td>
                                <td class="text-center" width="140">{{item.money}}</td>
                                <td class="text-center" width="140">{{item.memo}}</td>
                                <td class="text-center" width="140">
                                    <a class="btn btn-primary"
                                        href="{% url "kakeibo:kakeibo_update" item.pk %}">更新ページリンク</a>
                                    <a class="btn btn-danger"
                                        href="{% url "kakeibo:kakeibo_delete" item.id %}">削除ページリンク</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}